@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

img {
  max-width: 100%;
}

section {
  padding: 3rem;
}

footer {
  background-image: url("assets/footerleaf.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 20%;
}
